<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Statistics</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    <h4 class="logo">Job Statistics</h4>
    <div class="form-group">
        <form action="">
                <input class="search-field" type="text">
            <input class="search-btn" type="submit">
        </form>
    </div>
</body>
</html>